/* ===============================
CONTAINERS
=============================== */
.gp-container{
  width:100%;
  max-width:1180px;
  margin:0 auto;
  padding:0 20px;
}
.gp-container-min{
  width:100%;
  max-width:980px;
  margin:0 auto;
  padding:0 20px;
}
